@body-bg:    #fff;

body {
    background-color: white;
}

h1 {
	color: #fff;
}

h3 {
	color: #fff;
}

h4 {
	color: #fff;
}

input {
	max-width: 100%;
}

#minusButton{
	margin-top: 20px;
}
#plusButton{
	margin-top: 20px;
}


.navbar-fixed-top {
	background-color: #276696;
}

#mainContainer {
	margin-top: 100px;
}

#selectSearchBtns{
    margin-bottom:10px;
}

